!!!
%html
  %head
    %meta{charset: 'utf-8' }
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %meta{content: '', name: 'description' }
    %meta{content: '', name: 'author' }
    %title
      Condamnations en sorcellerie

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js', 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js'

    -#= stylesheet_link_tag 'bootstrap.min'
    -# Don't turn on async JS load, don't work
    -#= javascript_include_tag 'application', async: true
    -#= csrf_meta_tags

    -#= stylesheet_link_tag 'site'
    -#= javascript_include_tag 'site'

    %script{ src: '/javascripts/highcharts.js' }
    %script{ src: '/javascripts/jquery-3.3.1.js' }
    %script{ src: '/javascripts/chart.js' }

  %body
    .container-fluid
      = yield
