;;;
"lang" : "fr",
"title" : "Les chasses aux sorcières du Moyen-Age : une idée fausse",
"google_data": {
  "@context" : "http://schema.org",
  "@type" : "Article",
  "Audience" : {
    "@type" : "Audience",
    "audienceType" : "personnes intéressées par la sorcellerie"
  },
  "name" : "Les chasses aux sorcières du Moyen-Age : une idée fausse",
  "description" : "Beaucoup de personnes croient que les chasses aux sorcières avaient lieu au moyen age, ce qui est complètement faux. Cet article vous explique pourquoi."
}
;;;

%h1
  Les chasses aux sorcières du Moyen-Age : une idée fausse

%p
  Cet article à pour but de tordre le cou à une idée fausse, mais qui est répétée à longueur de journée : les chasses aux sorcières du Moyen-Age.
  Or il n'y a pas eu de chasses aux sorcières au Moyen-Age elles ont eu lieu pendant la renaissance et la guerre de trente-ans.

%p
  Je précise que cet article n'a pas pour but n'est pas de nier l'existence des chasses aux sorcières ou de minimiser les persécutions subies par les victimes, mais de recaler dans le temps ces évennements dramatiques.

%h2 D'abord les chiffres

%p
  En se basant sur
  = link_to 'la liste des condammnations', 'https://fr.wikipedia.org/wiki/Liste_des_victimes_de_chasses_aux_sorci%C3%A8res'

  En effet, il est parfois aggacant

%div{ id: :container, style: 'width:100%; height:400px;' }

=input_tag( :hidden, id: :results, data: data.results.series.to_json )