%h1
  Les chasses aux sorcières du Moyen-Age : une idée fausse

%p
  Cet article à pour but de tordre le cou à une idée fausse, mais qui est répétée à longueur de journée : les chasses aux sorcières du Moyen-Age.
  Le but n'est pas de nier l'existence des chasses aux sorcières ou de minimiser les persécutions subies par les victimes, mais de recaler dans le temps ces évennements dramatiques.

%p
  En effet, il est parfois aggacant

%div{ id: :container, style: 'width:100%; height:400px;' }

=input_tag( :hidden, id: :results, data: data.results.series.to_json )